<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
        <full_page_cache>
            <lifetime>86400</lifetime>
            <backend_options>
                <file_name_prefix>fpc</file_name_prefix>
                <cache_dir><![CDATA[page_cache]]></cache_dir>
            </backend_options>
        </full_page_cache>
        <frontend>
            <fpc>
                <request>
                    <parameters>
                        <ignore>
                            <param>utm_source</param>
                            <param>utm_medium</param>
                            <param>utm_campaign</param>
                            <param>utm_term</param>
                            <param>utm_content</param>
                            <param>gclid</param>
                            <param>gclsrc</param>
                            <param>fb_locale</param>
                        </ignore>
                    </parameters>
                </request>
                <response>
                    <parameters>
                        <ignore>
                            <param>utm_source</param>
                            <param>utm_medium</param>
                            <param>utm_campaign</param>
                            <param>utm_term</param>
                            <param>utm_content</param>
                            <param>gclid</param>
                            <param>gclsrc</param>
                            <param>fb_locale</param>
                        </ignore>
                    </parameters>
                </response>
            </fpc>
        </frontend>
    </global>
</config>