<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
        <full_page_cache>
            <lifetime>86400</lifetime>
            <backend_options>
                <file_name_prefix>fpc</file_name_prefix>
                <cache_dir><![CDATA[page_cache]]></cache_dir>
            </backend_options>
        </full_page_cache>
        <frontend>
            <fpc>
                <request>
                    <parameters>
                        <ignore>
                            <utm_source>utm_source</utm_source>
                            <utm_medium>utm_medium</utm_medium>
                            <utm_campaign>utm_campaign</utm_campaign>
                            <utm_term>utm_term</utm_term>
                            <utm_content>utm_content</utm_content>
                            <gclid>gclid</gclid>
                            <gclsrc>gclsrc</gclsrc>
                            <fb_locale>fb_locale</fb_locale>
                        </ignore>
                    </parameters>
                </request>
                <response>
                    <parameters>
                        <block>
                            <utm_source>utm_source</utm_source>
                            <utm_medium>utm_medium</utm_medium>
                            <utm_campaign>utm_campaign</utm_campaign>
                            <utm_term>utm_term</utm_term>
                            <utm_content>utm_content</utm_content>
                            <gclid>gclid</gclid>
                            <gclsrc>gclsrc</gclsrc>
                            <fb_locale>fb_locale</fb_locale>
                        </block>
                    </parameters>
                </response>
            </fpc>
        </frontend>
    </global>
</config>